@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #09061A;
}

.form {
    width: 500px;
    padding: 6px;
    color: whitesmoke;
}

input, textarea {
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    margin: 6px 0px;
}

#btn {
    width: 150px;
    padding: 6px;
    cursor: pointer;
}

h2, p {
    text-align: center;
    padding-bottom: 25px;
}

h2 {
    font-size: 200%;
}

p{
    font-size: 150%;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    background-color: rgb(14, 10, 48);
    font-size: 18px;
    line-height: 28.8px;
    overflow: hidden;
    width: 100%;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(14, 10, 48);
    z-index: -1;
}

footer .rights {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 30px;
    padding-top: 20px;
}